/*Reset*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #fff8dc;
}
a, a:active, a:visited {
     text-decoration: none;
    color: #000000;
 }
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
}


/* Header Start */
.header{
    background-color: #49b871;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0, .6);
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-family: Poppins, serif;
}
.btn__header{
    font-size: 20px;
    height: 60px;
    width: 50px;
    color: #ffffff;
    border: none;
    background-color: #49b871;
}
.btn__header:active{
    background-color: #36cb6c;
}
/* Header End */

/* Hamburger Start */
#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: #1E1D1F;
    overflow-x: hidden;
    transition: .5s;
    box-shadow: 0 0 1000px rgba(0,0,0, .9);;
    color: rgba(255, 255, 255, .8);
}
.user__info{
    display: flex;
    align-items: center;
    position: relative;
    background-color: #323232;
    height: 100px;
    padding: 10px;
    font-family: Poppins, serif;
}
.user__info .fa-user-circle{
    font-size: 40px;
    margin: 5px;
}
.btn__hamburger{
    position: absolute;
    top: 5px;
    right: 5px;
    color: gainsboro;
    background-color: transparent;
    border: none;
    font-size: 25px;
}
.social__developer{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-family: monospace;
}
.social__wrapper{
    font-size: 12px;
}
.social__wrapper a{
    font-size: 20px;
    color: rgba(255, 255, 255, .8);
    margin: 5px;
}
/* Hamburger End */

/*  Main Start */
.main__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.main__expansion{
    position: relative;
    font-size: 20px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0, .3);
}
.name__section{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
    color: #ffffff;
    padding: 2px 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #36cb6c;
    margin-top: 5px;
}
.period__wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
    position: relative;
}
.currency{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #808080;
    right: 18%;
    top: -10%;
}
.period{
    font-size: 20px;
    font-family: cursive;
    width: 80%;
    margin: 5px;
}
.period div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin-bottom: 5px;
}
.btn__group{
    display: flex;
    flex-direction: column;
}
.main__btn{
    font-size: 23px;
    color: #ffffff;
    background-color: #36cb6c;
    border-radius: 50%;
    border: none;
    height: 34px;
    width: 34px;
    margin: 5px;
    padding-top: 3px;
}
/*  Main End */

/* Expense Start */
.input__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 20px;
}
.input__box{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    border-bottom: 1px solid rgba(0,0,0, .3);
    padding: 15px;
}
.date__wrapper{
    display: flex;
    justify-content: right;
    width: 75%;

}
.input__default{
    font-size: 18px;
    text-align: right;
    width: 75%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #808080;
}


.history__period{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, .5);
    padding: 10px;
}
.history__input{
    font-size: 15px;
    text-align: right;
    border: none;
    background-color: transparent;
}
.history__all{
    background-color: #f3dfc2;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0,0,0, .3);
}
.history__item{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0,0,0, .3);
}


/*----------------*/
.main__box{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.main__history__box{
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn__history__exit{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 23px;
    background-color: transparent;
    border: none;
}
.main__form__wrapper{
    width: 90%;
}
.btn__group__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.main__btn__exit{
    font-size: 23px;
    background-color: transparent;
    border: none;
}
.item__detail{
    background-color: seashell;
    width: 90%;
    margin-left: 10%;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.item__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.detail__line{
    border-bottom: 1px solid rgba(0,0,0, .3);
}
.btn__delete{
    position: absolute;
    right: -25px;
    border: none;
    background-color: transparent;
    color: grey;
}

/*-------------*/
.balance__btn{
    font-size: 23px;
    color: dimgray;
    background-color: transparent;
    border: none;
}
.input__balance{
    font-size: 18px;
    text-align: center;
    width: 40%;
    border: none;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content {
    flex: 1;
}
.footer {
    display: none;
    color: floralwhite;
    /*color: rgba(0,0,0, .8);*/
    background-color: #49b871;
    box-shadow: 2px 0 5px rgba(0,0,0, .6);
    font-family: monospace;

}
.footer__item{
    text-align: center;
    height: 60px;
}
.footer__item a{
    color: floralwhite;
    /*color: rgba(0,0,0, .8);*/
    font-size: 20px;

}
.footer__box{
    display: block;
    background-color: #187845;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.footer__box p {
    margin-top: 3px;
}
.user__info__header{
    display: none;

}
.user__info__header > span{
    font-size: 16px;
    margin-left: 15px;
}
.chart__wrapper{
    display: flex;
    justify-content: center;
    height: 300px;
}
.btn__chart{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 23px;
    background-color: transparent;
    border: none;
}

.hidden{
    display: none;
}

@media (min-width: 700px) {
    .main__wrapper{
        flex-direction: row;
        justify-content: center;
    }
    .main__expansion{
        margin: 10px 0 0 0;
        width: 30%;
        padding: 10px;
        box-shadow: none;
        border: 1px solid rgba(0,0,0, .2);
    }
    .name__section{
        border-radius: 10px;
    }
    .currency{
        right: 50px;
    }
    .input__box{
        border-bottom: none;
    }
}
@media (min-width: 1024px){
    .footer{
        display: block;
    }
    #hamburgerOpen{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .user__info__header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
    }
    .header__wrapper > span{
        margin-left: 50px;
    }
}